%h1 Listing dashboards

%table
  %tr
    %th Active incidents
    %th Active problems
    %th Requested changes
    %th
    %th
    %th

  - @dashboards.each do |dashboard|
    %tr
      %td= dashboard.active_incidents
      %td= dashboard.active_problems
      %td= dashboard.requested_changes
      %td= link_to 'Show', dashboard
      %td= link_to 'Edit', edit_dashboard_path(dashboard)
      %td= link_to 'Destroy', dashboard, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Dashboard', new_dashboard_path
